{% extends 'account/base.html' %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="auth-content">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}

                        <div class="input-group mb-3">
                            {{ form.login }}
                        </div>
                        <div class="input-group mb-4">
                            {{ form.password }}
                        </div>
                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="remember" id="remember">
                                <label for="remember" class="cr">{{ form.remember.label }}</label>

                            </div>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}

                        <button class="btn btn-primary shadow-2 mb-4">Login</button>
                        <p class="mb-2 text-muted">Forgot Password? <a href="auth-reset-password.html">Reset</a></p>
                        <p class="mb-0 text-muted">Don’t have an account? <a
                                href="{% url 'account_signup' %}">Signup</a></p>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

