{% extends 'account/base.html' %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    <div class="mb-4">
        <i class="feather icon-user-plus auth-icon"></i>
    </div>
    <h3 class="mb-4">Complete Profile</h3>
    <form class="" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
    </form>
{% endblock %}