{% extends 'account/base.html' %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

    <div class="auth-content" style="width: 840px">
        <div class="auth-content" style="width: 840px">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Sign up</h3>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_register' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    {{ form.gender.label }}
                                </div>
                                <div class="input-group mb-3">
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    {{ form.date_of_birth.label }}
                                </div>
                                <div class="input-group mb-3">
                                    {{ form.date_of_birth }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    {{ form.location.label }}
                                </div>
                                <div class="input-group mb-3">
                                    {{ form.location }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    {{ form.account_type.label }}
                                </div>
                                <div class="input-group mb-3">
                                    {{ form.account_type }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-4">
                                    {{ form.email }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-4">
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-4">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    {{ form.password1 }}
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-primary shadow-2 mb-4">Sign up</button>
                        <p class="mb-0 text-muted">Already have an account? <a href="{% url 'account_login' %}"> Log
                            in</a></p>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}