{% extends 'base.html' %}
{% load static %}
{% block header_block %}
    {% include 'header.html' %}
{% endblock %}
{% block active_about %}active{% endblock %}
{% block content_block %}
    <div class="hero-wrap mb-5" style="margin-top:85px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ftco-animate text-center text-md-left mt-3"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                            class="mr-3"><a
                            href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-about d-md-flex mb-5">
        <div class="one-half img" style="background-image: url({% static 'main/images/about.jpg' %});"></div>
        <div class="one-half ftco-animate">
            <div class="heading-section ftco-animate ">
                <h2 class="mb-4"><span>We Are The Recruitment Agency</span></h2>
            </div>
            <div>
                <p>
                    Career Connect Tanzania is a Recruitment Portal developed and managed by
                    Cornerstone Financial Consultants with the sole purpose of connecting
                    the job seekers with respective potential employers. Career Connect
                    offers unique experience, fast and effective way for employers to access
                    experienced and professional candidates through the state of the art job
                    skills & profile matching and also automated reviewing and shortlisting
                    process.
                </p>
                <p>
                    CareerConnect.com is among the top trusted recruitment portal in
                    Tanzania and East Africa at large.
                </p>
            </div>
        </div>
    </section>
    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Subcribe to get Job Notifications</h2>
                        <p>Let no opportunity pass by. Get updated on all job opportunities</p>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-8">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div {% if message.tags %}
                                            class="{{ message.tags }}"  {% endif %}>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" style="font-size:20px">×</span>
                                            </button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form class="subscribe-form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group d-flex">
                                        {{ form.email }}
                                        <input id="id_submit" type="submit" value="Subscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_block %}
    {% include 'footer.html' %}
{% endblock %}s