{% extends 'base.html' %}
{% load static %}
{% block header_block %}
    {% include 'header.html' %}
{% endblock %}
{% block active_about %}active{% endblock %}
{% block content_block %}
    <div class="hero-wrap mb-5" style="margin-top:85px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ftco-animate text-center text-md-left mt-3"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                            class="mr-3"><a
                            href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h3">Contact Information</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                    <p><span>Address:</span> PPF Towers 12th Floor, Ohio/Garden Avenue, Dar es salaam</p>
                </div>
                <div class="col-md-3">
                    <p><span>Phone:</span> <a href="tel://1234567920">+ 255 7647131 38</a></p>
                </div>
                <div class="col-md-3">
                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@careerconnect.co.tz</a></p>
                </div>
                <div class="col-md-3">
                    <p><span>Website</span> <a href="#">careerconnect.co.tz</a></p>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="#" class="bg-white p-5 contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="7" class="form-control"
                                      placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
                <div class="col-md-6 d-flex">
                    <div id="map" class="bg-white"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_block %}
    {% include 'footer.html' %}
{% endblock %}s