{% extends 'base.html' %}
{% load static %}
{% block header_block %}
    {% include 'header.html' %}
{% endblock %}
{% block active_home %}active{% endblock %}
{% block content_block %}
    <style>
        .category li {
            list-style: none;
            font-size: 14px;
            font-weight: 400;
        }
        .text-black {
            font-size: 16px;
        }
        .text-white {
            font-size: 13px;
        }
    </style>


    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Unsubcribe to stop receiving Job Notifications</h2>
                        <p>Let us know if there is an issue with our services</p>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-8">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div {% if message.tags %}
                                       class="{{ message.tags }}"  {% endif %}>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" style="font-size:20px">×</span>
                                            </button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form class="subscribe-form" method="post">
                                     {% csrf_token %}
                                    <div class="form-group d-flex">
                                        {{ form.email }}
                                        <input id="id_submit" type="submit" value="Unsubscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_block %}
    {% include 'footer.html' %}
{% endblock %}s
