{% extends 'base.html' %}
{% load static %}
{% block header_block %}
    {% include 'header.html' %}
    {% include 'main/slider.html' %}
{% endblock %}
{% block active_home %}active{% endblock %}
{% block content_block %}
    <style>
        .category li {
            list-style: none;
            font-size: 14px;
            font-weight: 400;
        }

        .text-black {
            font-size: 16px;
        }

        .text-white {
            font-size: 13px;
        }
    </style>
    <section class="ftco-section services-section bg-light">
        <div class="container" style="align-content: center; margin-top: -60px; margin-bottom: -60px;">
            <div class="row d-flex">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-resume"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Search Thousands of Jobs</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-collaboration"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Easy To Manage Jobs</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-promotions"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Top Careers</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-employee"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Search Expert Candidates</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4"><span>Current</span> Job Categories</h2>
                </div>
            </div>
            <div class="row">
                {% for category in categories %}
                    <div class="col-md-4 ftco-animate">
                        <ul class="category">

                            <li>
                                {% if category.job_posts != 0 %}
                                    <a href="{% url 'job-category' category.id %}">{{ category.name }} <span
                                            class="number"
                                            data-number="{{ category.job_posts }}">0</span>
                                    </a>
                                {% else %}
                                    <a href="#">{{ category.name }} <span class="number"
                                                                          data-number="{{ category.job_posts }}">0</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4"><span>Latest</span> Jobs</h2>
                </div>
            </div>
            <div class="row">
                {% for post in latest_jobs %}
                    <div class="col-md-6 ftco-animate">
                        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                            <div class="mb-4 mb-md-0 mr-5">
                                <p class="mr-3 text-black">{{ post.title }}</p>
                                <div class="job-post-item-header d-flex align-items-center">
                                    <div class="badge-wrap row">
                                        <div class="mx-auto">
                                            {% for type in post.type.all %}
                                                <span class="bg-primary text-white badge py-2 px-3">{{ type.name }}</span>
                                            {% endfor %}
                                        </div>

                                        <div class="ml-4">
                                           <span class="icon-eye" style="color: #00b3ee;" data-toggle="tooltip" title="View job"> <a
                                                   href="{{ post.get_absolute_url }}"
                                                   class=" mr-1">
                                                </a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-post-item-body d-block d-md-flex">
                                    <div class="mr-3"><span class="icon-layers"></span> <a
                                            href="#">{{ post.company }}</a></div>
                                    <div><span class="icon-my_location"></span> <span>
                                              {% for location in post.location.all %}
                                                  <span>{{ location }}, </span>
                                              {% endfor %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end -->
                {% endfor %}
            </div>
            {#            <div class="row mt-5">#}
            {#                <div class="col text-center">#}
            {#                    <div class="block-27">#}
            {#                        <ul>#}
            {#                            <li><a href="#">&lt;</a></li>#}
            {#                            <li class="active"><span>1</span></li>#}
            {#                            <li><a href="#">2</a></li>#}
            {#                            <li><a href="#">3</a></li>#}
            {#                            <li><a href="#">4</a></li>#}
            {#                            <li><a href="#">5</a></li>#}
            {#                            <li><a href="#">&gt;</a></li>#}
            {#                        </ul>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </section>

    {#    <section class="ftco-section ftco-counter img" id="section-counter" data-stellar-background-ratio="0.5">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center">#}
    {#                <div class="col-md-10">#}
    {#                    <div class="row">#}
    {#                        <div class="col-md-12 d-flex justify-content-center counter-wrap ftco-animate">#}
    {#                            <div class="block-18 text-center">#}
    {#                                <h3>Weka tangazo hapa</h3>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {#    <section class="ftco-section bg-light">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center mb-5 pb-3">#}
    {#                <div class="col-md-7 heading-section text-center ftco-animate">#}
    {#                    <h2><span>Career</span> Tips</h2>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row d-flex">#}
    {#                <div class="col-md-3 d-flex ftco-animate">#}
    {#                    <div class="blog-entry align-self-stretch">#}
    {#                        <a href="blog-single.html" class="block-20"#}
    {#                           style="background-image: url({% static 'main/images/image_1.jpg' %});">#}
    {#                        </a>#}
    {#                        <div class="text mt-3">#}
    {#                            <div class="meta mb-2">#}
    {#                                <div><a href="#">December 2, 2018</a></div>#}
    {#                                <div><a href="#">Admin</a></div>#}
    {#                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
    {#                            </div>#}
    {#                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the#}
    {#                                blind texts</a>#}
    {#                            </h3>#}
    {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto enim non iste#}
    {#                                maxime optio,#}
    {#                                ut com</p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-3 d-flex ftco-animate">#}
    {#                    <div class="blog-entry align-self-stretch">#}
    {#                        <a href="blog-single.html" class="block-20"#}
    {#                           style="background-image: url({% static 'main/images/image_2.jpg' %});">#}
    {#                        </a>#}
    {#                        <div class="text mt-3">#}
    {#                            <div class="meta mb-2">#}
    {#                                <div><a href="#">December 2, 2018</a></div>#}
    {#                                <div><a href="#">Admin</a></div>#}
    {#                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
    {#                            </div>#}
    {#                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the#}
    {#                                blind texts</a>#}
    {#                            </h3>#}
    {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nobis natus incidunt#}
    {#                                officia assumenda.#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-3 d-flex ftco-animate">#}
    {#                    <div class="blog-entry align-self-stretch">#}
    {#                        <a href="blog-single.html" class="block-20"#}
    {#                           style="background-image: url({% static 'main/images/image_3.jpg' %});">#}
    {#                        </a>#}
    {#                        <div class="text mt-3">#}
    {#                            <div class="meta mb-2">#}
    {#                                <div><a href="#">December 2, 2018</a></div>#}
    {#                                <div><a href="#">Admin</a></div>#}
    {#                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
    {#                            </div>#}
    {#                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the#}
    {#                                blind texts</a>#}
    {#                            </h3>#}
    {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi obcaecati#}
    {#                                praesentium,</p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-3 d-flex ftco-animate">#}
    {#                    <div class="blog-entry align-self-stretch">#}
    {#                        <a href="blog-single.html" class="block-20"#}
    {#                           style="background-image: url({% static 'main/images/image_4.jpg' %});">#}
    {#                        </a>#}
    {#                        <div class="text mt-3">#}
    {#                            <div class="meta mb-2">#}
    {#                                <div><a href="#">December 2, 2018</a></div>#}
    {#                                <div><a href="#">Admin</a></div>#}
    {#                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
    {#                            </div>djando form wizard and allauth#}
    {#                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the#}
    {#                                blind texts</a>#}
    {#                            </h3>#}
    {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor minima, dolores quis,#}
    {#                                dolorum accusamu#}
    {#                            </p>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Subcribe to get Job Notifications</h2>
                        <p>Let no opportunity pass by. Get updated on all job opportunities</p>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-8">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div {% if message.tags %}
                                            class="{{ message.tags }}"  {% endif %}>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" style="font-size:20px">×</span>
                                            </button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form class="subscribe-form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group d-flex">
                                        {{ form.email }}
                                        <input id="id_submit" type="submit" value="Subscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <p>Wanna stop receiving job notifications ? click <a href="{% url 'newsletter_unsubscribe' %}"
                                                                             class="text-white btn-link"> Here!</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_block %}
    {% include 'footer.html' %}
{% endblock %}s