{% extends 'base.html' %}
{% load static %}
{% block header_block %}
    {% include 'header.html' %}
{% endblock %}
{% block active_about %}active{% endblock %}
{% block content_block %}
    <style>
        .ftco-section {
            padding-top: 3em;
            padding-bottom: 1em;
            position: inherit;
        }
    </style>
    <div class="hero-wrap col-md-12">
        <section class="ftco-section">
            <div class="container" style="align-content: center; margin-top: 20px">
                <div class="ftco-search">
                    <div class="row">
                        <div class="col-md-12 tab-wrap">
                            <div class="tab-content p-4" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                     aria-labelledby="v-pills-nextgen-tab">
                                    {% include 'main/search_form.html' %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        {% for post in jobs %}
                            <div class="col-md-12 ftco-animate">
                                <div class="job-post-item bg-white p-2 d-block d-md-flex align-items-center">
                                    <div class="mb-4 mb-md-0 mr-5">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h4 class="mr-3 text-black h5">{{ post.title }}</h4>
                                            <div class="badge-wrap">
                                                {% for type in post.type.all %}
                                                    <span class="bg-primary text-white badge py-2 px-2">{{ type.name }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="job-post-item-body d-block d-md-flex">
                                            <div class="mr-3"><span class="icon-layers"></span> <a
                                                    href="#">{{ post.company }}</a></div>
                                            <div><span class="icon-my_location"></span>
                                                {% for location in post.location.all %}
                                                    <span>{{ location }}, </span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ml-auto d-flex">
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm py-2 mr-1">View
                                            Job</a>
                                    </div>
                                </div>
                            </div><!-- end -->
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <img src="{% static 'main/images/ads-banner.png' %}" width="170px">
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}
{% block footer_block %}
    {% include 'footer.html' %}
{% endblock %}s