{% extends 'base.html' %}
{% load static %}
{% block header_block %}
    {% include 'header.html' %}
{% endblock %}
{% block active_about %}active{% endblock %}
{% block content_block %}
    <style>
        .ftco-section {
            padding-top: 3em;
            padding-bottom: 1em;
            position: inherit;
        }
    </style>
    <div class="hero-wrap">
        <section class="ftco-section">
            <div class="container" style="align-content: center; margin-top: 20px">
                <div class="ftco-search">
                    <div class="row">
                        <div class="col-md-12 tab-wrap">
                            <div class="tab-content p-4" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                     aria-labelledby="v-pills-nextgen-tab">
                                    {% include 'main/search_form.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-section ftco-degree-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ftco-animate">
                        <h2>{{ post.title }}</h2>
                        <div class="tag-widget post-tag-container">
                            <div class="tagcloud">
                                <a class="tag-cloud-link">{{ post.category }}</a>
                                <a href="#" class="tag-cloud-link">
                                    {% for type in post.type.all %}{{ type.name }}, {% endfor %}</a>
                            </div>
                        </div>
                        <hr/>

                        <h5>Description</h5>
                        <p>{{ post.description|safe }}</p>

                        <h5>Responsibilities</h5>
                        <ul style="list-style-type:disc;">
                            {% for responsibility in post.job_responsibilities.all %}
                                <li>{{ responsibility.description }}</li>
                            {% endfor %}
                        </ul>

                        <h5>Requirements</h5>
                        <ul style="list-style-type:disc;">
                            {% for requirement in post.job_requirements.all %}
                                <li>{{ requirement.description }}</li>
                            {% endfor %}
                        </ul>

                    </div> <!-- .col-md-8 -->

                    <div class="col-md-4 sidebar ftco-animate">
                        <div class="sidebar-box">
                            <div class="about-author d-flex p-4 bg-light">
                                <div class="desc">
                                    <h5>Application Instructions</h5>
                                    {% if post.application_instructions %}
                                        <p>{{ post.application_instructions }}</p>
                                    {% endif %}
                                    {% if post.force_apply_on_company_website %}
                                        <a href="{{ post.application_url }}">Apply on commpany website</a>
                                    {% endif %}
                                    {% if post.force_apply_in_system %}
                                        <a href="{% url 'account_login' %}" class="btn btn-primary">Login to Apply</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- .section -->
    </div>
{% endblock %}
{% block footer_block %}
    {% include 'footer.html' %}
{% endblock %}