{% load static %}
<form action="{% url 'job-search' %}" class="search-job" method="GET">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-field">
                    <div class="icon"><span class="icon-briefcase"></span></div>
                    <input type="text" class="form-control"
                           placeholder="eg. Graphic. Web Developer" name="title">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-field">
                    <div class="icon"><span class="icon-map-marker"></span></div>
                    <input type="text" class="form-control" placeholder="Location" name="location">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="form-field">
                    <input type="submit" value="Search"
                           class="form-control btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>