{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light " id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src={% static "main/images/logo.png" %} height="60"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% block active_home %}{% endblock %}"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item" {% block active_about %}{% endblock %}><a href="{% url 'about' %}" class="nav-link">About</a></li>
                <li class="nav-item" {% block active_contact %}{% endblock %}><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                <li class="nav-item cta mr-md-2"><a href="{% url 'account_login' %}" class="nav-link">Job Seeker</a></li>
                <li class="nav-item cta cta-colored"><a href="{% url 'account_login' %}" class="nav-link">Recruiter</a></li>
            </ul>
        </div>
    </div>
</nav>