{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Find Applicants</li>
{% endblock %}
{% block content %}
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
        <div class="card Recent-Users">
            <div class="card-header">
                {% include 'recruiter/search_form.html' %}
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        {% if filter.qs %}
                            {% for applicant in filter.qs %}
                                <tr>
                                    <td>
                                        <h6 class="mb-1"><a href="{% url 'candidate_profile_view' applicant.account_id %}">{{ applicant.account }}</a></h6>
                                        <p>Skills :
                                            {% for s in applicant.candidate_skill.all %}
                                                {{ s.name }},
                                            {% endfor %}
                                        </p>

                                    </td>
                                    <td>
                                        <h6 class="mb-1">Certifications</h6>
                                        <p>
                                            {% for s in applicant.candidate_certification.all %}
                                                {{ s.name }},
                                            {% endfor %}
                                        </p>
                                    </td>
                                    <td>
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Level</th>
                                                <th>Institute</th>
                                                <th>Course</th>
                                                <th>End Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for s in applicant.candidate_education.all %}
                                                <tr>
                                                    <td>{{ s.education_level }}</td>
                                                    <td>{{ s.institution }}</td>
                                                    <td>{{ s.course }}</td>
                                                    <td>{{ s.end_date }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>None of the applicants mached the criterias</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
       $(".chosen").chosen();
    </script>
{% endblock %}