{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Profile{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Candidate Profile</li>
    <div class="d-inline  m-l-50 pull-right">
        {% for d in decisiom %}
            <button onclick="accept_desc({{ profile.id }},{{d.id }}, {{ application_id }})"
                    type="button" class="btn shadow-1 btn-primary btn-outline-info"
            >
                {{ d.name }}
            </button>
        {% endfor %}
    </div>
    <div style="float: right; margin-left: 46% ">
       <span class="badge badge-success" >
           {{ candidate_level}}
       </span>
    </div>
{% endblock %}
{% block content %}
    <div class="col-xl-12 col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card Recent-Users">
                    <div class="card-header">
                        <h5>{{ profile.get_full_name }}</h5>
                    </div>
                    <div>
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tr>
                                    <td colspan="1" rowspan="2">
                                        <img src="{% static '../media/' %}{{ profile.avatar }}"
                                             width="150"
                                             height="150">
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">Date of Birth</th>
                                    <td>{{ profile.date_of_birth }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gender</th>
                                    <td>{{ profile.gender }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">E-mail</th>
                                    <td>{{ profile.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone Number</th>
                                    <td>{{ profile.phone_number }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Location</th>
                                    <td>{{ profile.location }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">CV</th>
                                    {% for c in profile.candidate_user.candidate_cv.all %}
                                        {% if c %}
                                            <td><a href="{% static '../media/' %}{{ c.file }}" target="_blank">Open
                                                CV</a></td>
                                        {% else %}
                                            <td style="color: red">No CV uploaded</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">Education
                                Background</a></h5>
                        </div>
                        <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">INSTITUTION</th>
                                    <th scope="col">COURSE TAKEN</th>
                                    <th scope="col">LEVEL</th>
                                    <th scope="col">PERIOD</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for education in profile.candidate_user.candidate_education.all %}
                                    <tr>
                                        <td>{{ education.institution }}</td>
                                        <td>{{ education.course }}</td>
                                        <td>{{ education.education_level }}</td>
                                        <td>{{ education.start_date }} - {{ education.end_date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">Work Experience</a></h5>
                        </div>
                        <div id="collapseTwo" class="collapse card-body" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            {% if profile.candidate_user.candidate_experience.all %}
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">COMPANY</th>
                                        <th scope="col">POSITION</th>
                                        <th scope="col">LEVEL</th>
                                        <th scope="col">PERIOD</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for experience in profile.candidate_user.candidate_experience.all %}
                                        <tr>
                                            <td>{{ experience.company }}</td>
                                            <td>{{ experience.position }}</td>
                                            <td>{{ experience.position_level }}</td>
                                            {% if experience.is_current_job %}
                                                <td>{{ experience.start_date }} - Present</td>
                                            {% else %}
                                                <td>{{ experience.start_date }} - {{ experience.end_date }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No experience details added</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse"
                                                        data-target="#collapseThree" aria-expanded="false"
                                                        aria-controls="collapseThree">Certifications</a></h5>
                                </div>
                                <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    {% if profile.candidate_user.candidate_certification.all %}
                                        {% for certification in profile.candidate_user.candidate_certification.all %}
                                            <span class="badge badge-info">{{ certification.name }}</span>
                                        {% endfor %}
                                    {% else %}
                                        <p>No Certification details added</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse"
                                                        data-target="#collapseFour" aria-expanded="false"
                                                        aria-controls="collapseFour">Skills</a></h5>
                                </div>
                                <div id="collapseFour" class="card-body collapse" aria-labelledby="headingFour"
                                     data-parent="#accordionExample">
                                    {% if profile.candidate_user.candidate_skill.all %}
                                        {% for skill in profile.candidate_user.candidate_skill.all %}
                                            <span class="badge badge-info">{{ skill.name }}</span>
                                        {% endfor %}
                                    {% else %}
                                        <p>No skill details added</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function accept_desc(uid, decision_id, application_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'candidate_decision_action' %}",
                data: {uid: uid, decision_id: decision_id, application_id:application_id},
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                }
            })
        }

    </script>
{% endblock %}