{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Register your Company here</li>
{% endblock %}
{% block content %}
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12 row">
        <div class="card Recent-Users col-sm-12">
            <div class="card-header">
            </div>
            <div class="card-block px-0 py-0">
                <div class=" modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form id="companyDetail">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="job-title" class="col-form-label">Company Name:</label>
                                        <input type="text" class="form-control" id="job-title" name="name" required>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="job-title" class="col-form-label">Industry:</label>
                                        <select name="industry" class="form-control" required>
                                            {% for i in industry %}
                                                <option value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="job-title" class="col-form-label">Address:</label>
                                        <input class="form-control" name="physical_address" type="text" required>

                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="job-title" class="col-form-label">Tel:</label>
                                        <input type="text" class="form-control" id="job-title"
                                               name="tel" required>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="job-title" class="col-form-label">TIN-Number:</label>
                                        <input type="text" class="form-control" name="tin_number" required>
                                    </div>

                                    <div class="col-md-12 form-group" id="description">
                                        <label for="description" class="col-form-label">Description:</label>
                                        <textarea cols="10" class="col-md-12" name="description" required></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="btn-company-save" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
{% endblock %}

{% block scripts %}
    <script>
        $("#companyDetail").submit(function (event) {
            event.preventDefault();
            form_data = $('#companyDetail').serialize();
            console.log(form_data);
            $.ajax({
                type: "POST",
                url: "{% url 'company_create' %}",
                data: form_data,
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                    window.location.href = "http://127.0.0.1:8000/recruiter/";
                }
            })
        });


    </script>

{% endblock %}




