{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{#{% block breadcrumb %}#}
{#    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>#}
{#{% endblock %}#}
{% block content %}
    {% if request.user.is_candidate %}
        <meta http-equiv="REFRESH" content="0;url={% url 'candidate_dashboard' %}">
    {% endif %}
    <div class="row">
        <div class="col-md-3 col-xl-3">
            <div class="card daily-sales">
                <div class="card-block">
                    <h6 class="mb-4">SUBMITTED</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ submitted }}</h3>
                        </div>
                    </div>
                    <div class="progress m-t-30" style="height: 7px;">
                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3">
            <div class="card daily-sales">
                <div class="card-block">
                    <h6 class="mb-4">SHORTLISTED</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ shortlisted }}</h3>
                        </div>

                        <div class="col-3 text-right">
                            <p class="m-b-0"></p>
                        </div>
                    </div>
                    <div class="progress m-t-30" style="height: 7px;">
                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3">
            <div class="card daily-sales">
                <div class="card-block">
                    <h6 class="mb-4">SELECTED</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ selected }}</h3>
                        </div>

                        <div class="col-3 text-right">
                            <p class="m-b-0"></p>
                        </div>
                    </div>
                    <div class="progress m-t-30" style="height: 7px;">
                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3">
            <div class="card daily-sales">
                <div class="card-block">
                    <h6 class="mb-4">ACTIVE JOB POSTS</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>{{ active_jobs }}</h3>
                        </div>

                        <div class="col-3 text-right">
                            <p class="m-b-0"></p>
                        </div>
                    </div>
                    <div class="progress m-t-30" style="height: 7px;">
                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>SUMMERY</h5>
                </div>
                <div class="card-block mx-auto">
                    <div id="morris-donut-chart" style="height:200px; width:200px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card Recent-Users">
                    <div class="card-header">
                        <h5>ACTIVE JOBS</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                {% if top_5_active_jobs %}
                                    {% for job in top_5_active_jobs %}
                                        <tr class="unread">
                                            <td><h6 class="mb-1">{{ job.title }}</h6></td>
                                            <td><p class="m-0">{{ job.application_deadline }}</p></td>
                                            <td><a href="{% url 'applicants_per_post' job.id %}">
                                                <span class="badge badge-info">{{ job.job_applications.all.count }}</span>
                                            </a></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <center><p>You have not posted any job yet!</p></center>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#        <div class="col-md-4">#}
        {#            <div class="card Recent-Users">#}
        {#                <div class="card-header">#}
        {#                    <h5>JOB VIEWS</h5>#}
        {#                </div>#}
        {#                <div class="card-block px-0 py-3">#}
        {#                    <div class="table-responsive">#}
        {#                        <table class="table table-hover">#}
        {#                            <tbody>#}
        {#                            <tr class="unread">#}
        {#                                <td><img class="rounded-circle" style="width:40px;"#}
        {#                                         src="{% static 'images/user/avatar-2.jpg' %}" alt="activity-user"></td>#}
        {#                                <td>#}
        {#                                    <h6 class="mb-1">Isabella Christensen</h6>#}
        {#                                    <p class="m-0">Lorem Ipsum is simply…</p>#}
        {#                                </td>#}
        {#                            </tr>#}
        {#                            <tr class="unread">#}
        {#                                <td><img class="rounded-circle" style="width:40px;"#}
        {#                                         src="{% static 'images/user/avatar-2.jpg' %}" alt="activity-user"></td>#}
        {#                                <td>#}
        {#                                    <h6 class="mb-1"></h6>#}
        {#                                    <p class="m-0">Lorem Ipsum is simply text of…</p>#}
        {#                                </td>#}
        {#                            </tr>#}
        {#                            <tr class="unread">#}
        {#                                <td><img class="rounded-circle" style="width:40px;"#}
        {#                                         src="{% static 'images/user/avatar-2.jpg' %}" alt="activity-user"></td>#}
        {#                                <td>#}
        {#                                    <h6 class="mb-1"></h6>#}
        {#                                    <p class="m-0">Lorem Ipsum is simply text of…</p>#}
        {#                                </td>#}
        {#                            </tr>#}
        {#                            <tr class="unread">#}
        {#                                <td><img class="rounded-circle" style="width:40px;"#}
        {#                                         src="{% static 'images/user/avatar-2.jpg' %}" alt="activity-user"></td>#}
        {#                                <td>#}
        {#                                    <h6 class="mb-1"></h6>#}
        {#                                    <p class="m-0">Lorem Ipsum is simply text of…</p>#}
        {#                                </td>#}
        {#                            </tr>#}
        {#                            </tbody>#}
        {#                        </table>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        'use strict';
        $(document).ready(function () {
            setTimeout(function () {

                // [ Donut-chart ] Start
                var graph = Morris.Donut({
                    element: 'morris-donut-chart',
                    data: [{
                        value: {{ submitted }},
                        label: 'Submitted'
                    },
                        {
                            value: {{ in_review }},
                            label: 'In Review'
                        },
                        {
                            value: {{ selected }},
                            label: 'Selected'
                        },
                        {
                            value: {{ interviewed }},
                            label: 'Interviewed'
                        }
                    ],
                    colors: [
                        '#1de9b6',
                        '#A389D4',
                        '#04a9f5',
                        '#1dc4e9',
                    ],
                    resize: true,
                    formatter: function (x) {
                        return x + " candidates"
                    }
                });
                // [ Donut-chart ] end
            }, 500);
        });

    </script>
{% endblock %}

