{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Applicants For a <span class="text-primary">{{ post.title }}</span> Post</li>
{% endblock %}
{% block content %}
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12 row">
        <div class="card Recent-Users col-sm-12">
            <div class="card-header">
            </div>
            <div class="card-block px-0 py-0">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Application Date</th>
                            <th>Level</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in post.job_applications.all %}
                            <tr>
                                <td><a href="{% url 'candidate_application_profile_view' a.id a.applicant.id %}" onclick="accept_desc({{ a.applicant.id }}, {{a.id}})">{{ a.applicant }}</a></td>
                                <td>{{ a.date_created }}</td>
                                <td>{{ a.level }}</td>
                                <td>
                                    {#                                    <a href="#" class="btn drp-icon btn-rounded btn btn-outline-success dropdown-toggle"#}
                                    {#                                       data-toggle="dropdown" aria-haspopup="true"#}
                                    {#                                       aria-expanded="false"><i class="feather icon-check-circle"></i>#}
                                    {#                                    </a>#}
                                    {#                                    <div class="dropdown-menu">#}
                                    {#                                        <a class="dropdown-item" href="#!">Action </a>#}
                                    {#                                        <a class="dropdown-item" href="#!">Another action</a>#}
                                    {#                                        <a class="dropdown-item" href="#!">Something else here</a>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="switch switch-info d-inline m-r-10">#}
                                    {#                                        <input type="checkbox" id="switch-a-1">#}
                                    {#                                        <label for="switch-a-1" class="cr"></label>#}
                                    {#                                    </div>#}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
{% endblock %}

{% block scripts %}
    <script>
        {#$("#accept").click(function (event) {#}
        {#    event.preventDefault();#}
        {#    form_data = $('#accepted').serialize();#}
        {#    console.log(form_data);#}
        {#    $.ajax({#}
        {#        type: "POST",#}
        {#        url: "{% url 'candidate_decision' %}",#}
        {#        data: form_data,#}
        {#        success: function (response) {#}
        {#            Lobibox.notify(response.type, {#}
        {#                size: 'mini',#}
        {#                rounded: true,#}
        {#                delayIndicator: false,#}
        {#                msg: response.message#}
        {#            });#}
        {#        }#}
        {#    })#}
        {#});#}

        function accept_desc(uid, application_id) {

            $.ajax({
                type: "POST",
                url: "{% url 'candidate_decision' %}",
                data: {uid:uid, application_id:application_id},
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                }
            })
        }

        $(document).ready(function () {
            $('#posts').DataTable();


        })

    </script>

{% endblock %}

