{% load static %}
<style>
    .modal-dialog {
        width: 150%;
    }
</style>
<!-- Modal -->
<div class="modal fade col-sm-12 md-modal md-effect-12 md-show" id="create-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Job Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="jobPostDetail">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="job-title" class="col-form-label">Job Title:</label>
                            <input type="text" class="form-control" id="job-title" name="title">
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="job-title" class="col-form-label">Category:</label>
                            <select name="category" class="form-control">
                                {% for c in job_category %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="job-title" class="col-form-label">Campany:</label>
                            <input class="form-control" name="company" type="text">
{#                            <select name="company" class="form-control">#}
{#                                {% for c in company %}#}
{#                                    <option value="{{ c.id }}">{{ c.name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="job-title" class="col-form-label">Type:</label>
                            <select name="type[]" class="form-control" multiple>
                                {% for c in job_type %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="job-title" class="col-form-label">Job location:</label>
                            <select name="location[]" class="form-control" multiple>
                                {% for c in job_location %}
                                    <option value="{{ c.id }}">{{ c.region }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="job-title" class="col-form-label">Skills</label>
                            <select name="skill[]" class="form-control" multiple>
                                {% for c in job_skills %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="job-title" class="col-form-label">Years of Experience:</label>
                            <input type="text" class="form-control" id="job-title" name="min-experience">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="job-title" class="col-form-label">Min Salary:</label>
                            <input type="text" class="form-control" name="min-salary">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="job-title" class="col-form-label">Max Salary:</label>
                            <input type="text" class="form-control" name="max-salary">
                        </div>

                        <div class="col-md-3 form-group">
                            <label for="job-title" class="col-form-label">Application deadline:</label>
                            <input type="date" class="form-control" id="job-title" name="application_deadline">
                        </div>
                        <div class="col-md-7 form-group" id="description">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea cols="12" class="col-md-12" name="description"></textarea>
                        </div>
                        <div class="col-md-5 form-group" id="action">
                            <label for="description" class="col-form-label">Actions</label>
                            <div class="form-group">
                                <div class="m-b-10">
                                    <label class="ui-checkbox ui-checkbox-inline">
                                        <input type="checkbox" onclick="instructions()" name="force_application_instructions">
                                        <span class="input-span"></span>Force application instructions</label>
                                    <label class="ui-checkbox ui-checkbox-inline">
                                        <input type="checkbox" name="apply_in_system">
                                        <span class="input-span"></span>Force apply in system</label>
                                    <label class="ui-checkbox ui-checkbox-inline">
                                        <input type="checkbox" onclick="web_show()" name="company_website">
                                        <span class="input-span"></span>Force apply on company website</label>
                                   {% if request.user.is_superuser %}
                                    <label class="ui-checkbox ui-checkbox-inline">
                                        <input type="checkbox" onclick="email_show()" name="force_application_via_email">
                                        <span class="input-span"></span>Force apply via Email</label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="web_link" style='display:none;' class="col-md-3 form-group">
                            <label for="job-title" class="col-form-label">Website url:</label>
                            <input type="url" class="form-control" name="application_url">
                        </div>
                        <div id="email" style='display:none;' class="col-md-3 form-group">
                            <label for="job-title" class="col-form-label">Recruiter`s Email:</label>
                            <input type="email" class="form-control" name="company_email">
                        </div>

                       <div class="col-md-12 form-group" style="display: none" id="instructions">
                            <label for="description" class="col-form-label">Application instruction:</label>
                            <textarea cols="12" class="col-md-12" name="application_instructions"></textarea>
                        </div>
                        <div class="col-md-6 form-group" id="description">
                            <table class="table table-condensed" id="table-sales">
                                <thead>
                                <tr>
                                    <th><label for="requirement" class="col-form-label">Responsibilities</label></th>
                                    <th><span class="fa fa-plus responsibilities-btn" ></span></th>
                                </tr>
                                </thead>
                                <tbody id="table-responsibilities">
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 form-group">
                            <table class="table table-condensed" id="table-sales">
                                <thead>
                                <tr>
                                    <th><label for="requirement" class="col-form-label">Requirements</label></th>
                                    <th><span class="fa fa-plus requirements-btn"></span></th>
                                </tr>
                                </thead>
                                <tbody id="table-requirements">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-jobPostDetail-save" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</div>

