{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">My Job Post</li>
{% endblock %}
{% block content %}
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12 row">
        <div class="card Recent-Users col-sm-12">
            <div class="card-header">
                {% include 'recruiter/job_create.html' %}
            </div>
            <div class="card-block px-0 py-0">
                <div class="table-responsive">
                    <table class="table table-hover dataTables_info" id="posts">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Location(s)</th>
                            <th>Deadline</th>
                            <th><a href="#create-post-modal" class="ml-sm-3 btn btn-outline-info btn-rounded btn-xs"
                                   data-toggle="modal"><span class="fa fa-plus"></span></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if posts %}
                            {% for job in posts %}
                                <tr>
                                    <td>
                                        <h6 class="mb-1">{{ job.title }}</h6>
                                    </td>
                                    <td>{{ job.company }}</td>
                                    <td> {% for location in job.location.all %}
                                        {{ location }},
                                    {% endfor %}</td>
                                    <td>
                                        <h6 class="text-muted">
                                            {{ job.application_deadline }}
                                        </h6>
                                    </td>
                                    <td>
                                        {% if job.job_applications.count > 0 %}
                                            <a href="{% url 'applicants_per_post' job.id %}" class="btn-xs">
                                                <i class="fa fa-eye"></i>
                                                <span class="ml-1 badge badge-info">{{ job.job_applications.count }}</span>
                                            </a>
                                        {% endif %}

                                    </td>

                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>There no jobs posted yet</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
{% endblock %}

{% block scripts %}
    <script>
        $("#btn-jobPostDetail-save").click(function (event) {
            event.preventDefault();
            form_data = $('#jobPostDetail').serialize();
            console.log(form_data);
            $.ajax({
                type: "POST",
                url: "{% url 'save_jobpost_detail' %}",
                data: form_data,
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                }
            })
        });

        function web_show() {
            var web = document.getElementById('web_link').style.display;

            if (web === "none") {
                document.getElementById('web_link').style.display = "block";
                document.getElementById('web_link').className = "col-md-12";
            } else {
                document.getElementById('web_link').style.display = "none";
            }

        }

        function email_show() {
            var web = document.getElementById('email').style.display;

            if (web === "none") {
                document.getElementById('email').style.display = "block";
                document.getElementById('email').className = "col-md-12";
            } else {
                document.getElementById('email').style.display = "none";
            }

        }

        function instructions() {
            var web = document.getElementById('instructions').style.display;

            if (web === "none") {
                document.getElementById('instructions').style.display = "block";
                document.getElementById('instructions').className = "col-md-12";
            } else {
                document.getElementById('instructions').style.display = "none";
            }

        }

        $(document).ready(function () {
            $('#posts').DataTable();
        })

        $('.requirements-btn').click(function () {

            $('#table-requirements').append(
                '<tr >' +
                '<td>' +
                '<textarea cols="10" class="col-md-12" name="requirements"></textarea>' +
                '</td>' +
                '<td>' +
                '<span class="fa fa-minus req-remove"></span>' +
                '</td>' +
                '</tr>');
        });

        $('.responsibilities-btn').click(function () {
            $('#table-responsibilities').append(
                '<tr>' +
                '<td>' +
                '<textarea cols="10" class="col-md-12" name="responsibilities"></textarea>' +
                '</td>' +
                '<td>' +
                '<span class="fa fa-minus res-remove"></span>' +
                '</td>' +
                '</tr>');
        });


        $("#table-requirements").on("click", ".req-remove", function () {
            $(this).closest("tr").remove();
        });
        $("#table-responsibilities").on("click", ".res-remove", function () {
            $(this).closest("tr").remove();
        });
    </script>

{% endblock %}