{% load static %}
{% load widget_tweaks %}

<form action="{% url 'applications-search' %}" class="search-job" method="GET">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div class="form-field">
                    <label for="course" class="col-form-label">Region</label>
                    <div class="icon"><span class="icon-map-marker"></span></div>
                    {% render_field filter.form.account__location class="form-control  js-example-templating" %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="course" class="col-form-label">Skills</label>
                {% render_field filter.form.candidate_skill__name class="form-control" %}

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                 <label for="course" class="col-form-label">Course</label>
                {% render_field filter.form.candidate_education__course class="form-control" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                 <label for="course" class="col-form-label">Education Level</label>
                {% render_field filter.form.candidate_education__education_level class="form-control chosen" %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                 <label for="course" class="col-form-label">Certification</label>
                {% render_field filter.form.candidate_certification__name class="form-control" %}
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 35px;">
            <div class="form-group">
                <div class="form-field">
                    <button type="submit"
                            class="btn btn-outline-light btn-rounded form-control"><span class="text-c-purple">Search</span></button>
                </div>
            </div>
        </div>

    </div>

</form>
