{% extends 'child_base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Error Found</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-3 m-b-30 text-center">
                        <a href="#" target="_blank"><img src="{% static 'images/page_notfound.png' %}" alt="Layout-1"
                                                         class="img-fluid img-thumbnail"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}