{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Career Connect{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href={% static "main/css/open-iconic-bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "main/css/animate.css" %}>
    <link rel="stylesheet" href={% static "main/css/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "main/css/owl.theme.default.min.css" %}>
    <link rel="stylesheet" href={% static "main/css/magnific-popup.css" %}>
    <link rel="stylesheet" href={% static "main/css/aos.css" %}>
    <link rel="stylesheet" href={% static "main/css/ionicons.min.css" %}>
    <link rel="stylesheet" href={% static "main/css/bootstrap-datepicker.css" %}>
    <link rel="stylesheet" href={% static "main/css/jquery.timepicker.css" %}>
    <link rel="stylesheet" href={% static "main/css/flaticon.css" %}>
    <link rel="stylesheet" href={% static "main/css/icomoon.css" %}>
    <link rel="stylesheet" href={% static "main/css/style.css" %}>
    <link rel="stylesheet" href={% static "main/css/slideshow.css" %}>
    <link rel="stylesheet" href="{% static 'plugins/lobibox/dist/css/lobibox.min.css'%}"/></head>

<body>
{% block header_block %}{% endblock %}

{% block content_block %} This is the body's default content {% endblock %}

{% block footer_block %}{% endblock %}
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<script src={% static "main/js/jquery.min.js" %}></script>
<script src={% static "main/js/jquery-migrate-3.0.1.min.js" %}></script>
<script src={% static "main/js/popper.min.js" %}></script>
<script src={% static "main/js/bootstrap.min.js" %}></script>
<script src={% static "main/js/jquery.easing.1.3.js" %}></script>
<script src={% static "main/js/jquery.waypoints.min.js" %}></script>
<script src={% static "main/js/jquery.stellar.min.js" %}></script>
<script src={% static "main/js/owl.carousel.min.js" %}></script>
<script src={% static "main/js/jquery.magnific-popup.min.js" %}></script>
<script src={% static "main/js/aos.js" %}></script>
<script src={% static "main/js/jquery.animateNumber.min.js" %}></script>
<script src={% static "main/js/bootstrap-datepicker.js" %}></script>
<script src={% static "main/js/jquery.timepicker.min.js " %}></script>
<script src={% static "main/js/scrollax.min.js" %}></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src={% static "main/js/google-map.js" %}></script>
<script src={% static "main/js/main.js" %}></script>
<script src="{% static 'plugins/lobibox/dist/js/lobibox.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>

</html>