{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {{ form.media }}
    <title>{% block head_title %}{% endblock %}</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="Free Datta Able Admin Template come up with latest Bootstrap 4 framework with basic components, form elements and lots of pre-made layout options"/>
    <meta name="keywords"
          content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template"/>
    <meta name="author" content="CodedThemes"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">
    <!-- morris css -->
    <link rel="stylesheet" href="{% static 'plugins/chart-morris/css/morris.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Iobox css -->
    <link rel="stylesheet" href="{% static 'plugins/lobibox/dist/css/lobibox.min.css' %}"/>
    <!-- DataTables css -->
    <link rel="stylesheet" href="{% static 'plugins/DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
    <link href="{% static 'plugins/summernote/dist/summernote.css' %}" rel="stylesheet"><!-- THEME STYLES-->

    {#    <script type="text/javascript" src="{% url "tinymce-js" "NAME" %}"></script>#}
</head>
<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->
{% if request.user.is_authenticated %}
    <!-- [ navigation menu ] start -->
    {% block sidebar-nav %}
        {% include 'sidebar.html' %}
    {% endblock %}
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    {% block tobbar-nav %}
        {% include 'topbar.html' %}
    {% endblock %}
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% block breadcrumb %} {% endblock %}
                        </ol>
                    </nav>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->

                            {% block content %} {% endblock %}
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% else %}
    <p>You are not authorized</p>
    <meta http-equiv="REFRESH" content="0;url={% url 'account_login' %}">
{% endif %}
<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="{% static 'images/browser/chrome.png'%}" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="{% static 'images/browser/firefox.png' %}" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="{% static 'images/browser/opera.png' %}" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="{% static 'images/browser/safari.png' %}" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="{% static 'images/browser/ie.png' %}" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
<!-- Warning Section Ends -->

<!-- Required Js -->
<script src="{% static 'js/vendor-all.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/pcoded.min.js' %}"></script>
<script src="{% static 'plugins/lobibox/dist/js/lobibox.min.js' %}"></script>
<script src="{% static 'plugins/summernote/dist/summernote.min.js' %}" type="text/javascript"></script>


<!-- chart-morris Js -->
<script src="{% static 'plugins/chart-morris/js/raphael.min.js' %}"></script>
<script src="{% static 'plugins/chart-morris/js/morris.min.js' %}"></script>
<script src="{% static 'js/pages/chart-morris-custom.js' %}"></script>

<!-- DataTables JS -->
<script src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>


<script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

</script>
{% block scripts %}{% endblock %}
</body>
</html>
