<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About</h2>
                    <p>
                        Career Connect Tanzania is a Recruitment Portal developed and managed by
                        Cornerstone Financial Consultants with the sole purpose of connecting
                        the job seekers with respective potential employers. Career Connect
                        offers unique experience, fast and effective way for employers to access
                        experienced and professional candidates through the state of the art job
                        skills & profile matching and also automated reviewing and shortlisting
                        process.
                    </p>
                    <p>
                        CareerConnect.com is among the top trusted recruitment portal in
                        Tanzania and East Africa at large.
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Recruiters</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">How it works</a></li>
                        <li><a href="#" class="py-2 d-block">Register</a></li>
                        <li><a href="#" class="py-2 d-block">Post a Job</a></li>
                        <li><a href="#" class="py-2 d-block">Recruiting Service</a></li>
                        <li><a href="#" class="py-2 d-block">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Job Seekers</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">How it works</a></li>
                        <li><a href="#" class="py-2 d-block">Register</a></li>
                        <li><a href="#" class="py-2 d-block">Post Your Skills</a></li>
                        <li><a href="#" class="py-2 d-block">Job Search</a></li>
                        <li><a href="#" class="py-2 d-block">Career Tips</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">PPF Tower 12th Floor, Ohio
                    Street/Gardern Avenue, <br/>Dar es salaam, Tanzania</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+255 715 149791</span></a></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+255 764 713138</span></a></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+255 755 278892</span></a></li>
                            <li><a href="mailto:info@careerconnect.co.tz"><span class="icon icon-envelope"></span><span
                                    class="text">info@careerconnect.co.tz</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
