{% load static %}

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{% url 'candidate_dashboard' %}" class="b-brand">
                <img src="{% static 'main/images/logo.png' %}" alt="Career Connect" width="200"/>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                {% if request.user.is_candidate %}
                    <li class="nav-item pcoded-menu-caption">
                        <label>CANDIDATE - Navigation</label>
                    </li>
                    <li class="nav-item {{ dashboard }}">
                        <a href="{% url 'candidate_dashboard' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span
                                class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item {{ joblist }}">
                        <a href="{% url 'jobs_list' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-search"></i></span><span
                                class="pcoded-mtext">Find Jobs</span></a>
                    </li>
                    <li class="nav-item {{ myjobs }}">
                        <a href="{% url 'my_jobs' %}" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-briefcase"></i></span><span
                                class="pcoded-mtext">My Jobs</span></a>
                    </li>
                    {#                <li class="nav-item {{ notification }}">#}
                    {#                    <a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mail"></i></span><span#}
                    {#                            class="pcoded-mtext">Notifications</span></a>#}
                    {#                </li>#}
                    {#                 <li class="nav-item {{ career }}">#}
                    {#                    <a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-dashboard"></i></span><span#}
                    {#                            class="pcoded-mtext">Career Tips</span></a>#}
                    {#                </li>#}
                    <li class="nav-item {{ myprofile }}">
                        <a href="{% url 'candidate_profile' request.user.id %}" class="nav-link "><span
                                class="pcoded-micon"><i class="feather icon-user"></i></span><span
                                class="pcoded-mtext">My Profile</span></a>
                    </li>
                {% endif %}
                {% if request.user.is_recruiter %}
                    <li class="nav-item pcoded-menu-caption">
                        <label>RECRUITER - Navigation</label>
                    </li>
                    <li class="nav-item {{ dashboard }}">
                        <a href="{% url 'recruiter_dashboard' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span
                                class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item {{ job_list }}">
                        <a href="{% url 'recruiter_job_list' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-briefcase"></i></span><span
                                class="pcoded-mtext">Jobs</span></a>
                    </li>
                    <li class="nav-item {{ candidate }}">
                        <a href="{% url 'applications-search' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span
                                class="pcoded-mtext">Candidates</span></a>
                    </li>
                    {#                     <li class="nav-item">#}
                    {#                        <a href="#" class="nav-link "><span class="pcoded-micon"><i#}
                    {#                                class="feather icon-eye"></i></span><span#}
                    {#                                class="pcoded-mtext">Analytics</span></a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item pcoded-hasmenu">#}
                    {#                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Engagements</span></a>#}
                    {#                        <ul class="pcoded-submenu">#}
                    {#                            <li class=""><a href="" class="">Campaigns</a></li>#}
                    {#                            <li class=""><a href="" class="">Leads</a></li>#}
                    {#                            <li class=""><a href="" class="">Incentives</a></li>#}
                    {#                            <li class=""><a href="" class="">Targeting</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item pcoded-hasmenu">#}
                    {#                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">Settings</span></a>#}
                    {#                        <ul class="pcoded-submenu">#}
                    {#                            <li class=""><a href="" class="">Account</a></li>#}
                    {#                            <li class=""><a href="" class="">Job</a></li>#}
                    {#                            <li class=""><a href="" class=""></a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
