{% load static %}
<header class="navbar pcoded-header navbar-expand-lg navbar-dark">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="index.html" class="b-brand">
            <div class="b-bg">
                <i class="feather icon-trending-up"></i>
            </div>
            <span class="b-title">Career Connect</span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i
                    class="feather icon-maximize"></i></a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="pro-head">
                    <img src="{% static '../media' %}/{{ request.user.avatar }}" class="img-radius" alt="User-Profile-Image" width="60">
                    <span>{{ request.user.get_full_name}} </span>
                     <a class="btn btn-default btn-sm" href="{% url 'account_logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header>