<!-- Modal -->
<div class="modal fade" id="certificationDetailForm" tabindex="-1" role="dialog" aria-labelledby="certificationDetailLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-certification" id="certificationDetailLabel">New certification info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="certificationDetail">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="position-level" class="col-form-label">Certifications:(Hold Ctrl button to select Multiple)</label>
                            <select class="form-control" id="position-level" name="name[]" multiple>
                                {% for certification in certifications %}
                                    <option value="{{ certification.id }}">{{ certification.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-certification-save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
