{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
{% endblock %}

{% block content %}
    {% if request.user.is_recruiter %}
    <meta http-equiv="REFRESH" content="0;url={% url 'recruiter_dashboard' %}">
{% endif %}
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                       aria-controls="pills-home" aria-selected="true">Matched Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                       aria-controls="pills-profile" aria-selected="false">Saved Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                       aria-controls="pills-contact" aria-selected="false">Applied Jobs</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <!--[ matched Jobs ] start-->

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            {% if matched_jobs %}
                                {% for job in matched_jobs %}
                                    <tr>
                                        <td style="display:none;">{{ job.id }}</td>
                                        <td>
                                            <h6 class="mb-1">
                                                <a href="{% url 'candidate_job_detail' job.pk %}">
                                                    {{ job.title }}</a></h6>
                                            <div><span style="color: #29378b;">{{ job.company }}</span>
                                                <span class="fa fa-map-marker-alt"></span>
                                                {% for location in job.location.all %}
                                                    <span>{{ location }}, </span>
                                                {% endfor %}
                                            </div>
                                            <span class="mb-1">Application Deadline</span>
                                            <span class="text-muted mr-2"><i
                                                    class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                {{ job.application_deadline }}
                                            </span>
                                            <a href="#"><span data-toggle="tooltip" title="Save Job"
                                                              class="save-job fa fa-heart"
                                                              style="font-size:23px;color:#A2005D"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>There are no matched jobs yet</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <!--[ Matched Jobs ] end-->
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            {% if saved_jobs %}
                                {% for job in saved_jobs %}
                                    <tr>
                                        <td style="display:none;">{{ job.job.pk }}</td>
                                        <td>
                                            <h6 class="mb-1">
                                                <a href="{% url 'candidate_job_detail' job.job.pk %}">
                                                    {{ job.job.title }}</a></h6>
                                            <div>{% if job.job.company %}
                                                <span style="color: #29378b;" class="mr-2">{{ job.job.company }}</span>
                                            {% endif %}
                                                <span class="fa fa-map-marker-alt"></span>
                                                {% for location in job.job.location.all %}
                                                    <span>{{ location }}, </span>
                                                {% endfor %}
                                            </div>
                                            <span class="mb-1">Application Deadline</span>
                                            <span class="text-muted mr-2"><i
                                                    class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                {{ job.job.application_deadline }}
                                            </span>
                                            <div class="mt-2 mx-auto">
                                                {% if job.job.force_apply_on_company_website %}
                                                    <a href="{{ job.job.application_url }}"
                                                       class="btn btn-sm btn-primary">Apply on
                                                        website</a>{% endif %}
                                                {% if job.job.force_apply_in_system %}
                                                    <button class="label theme-bg2 text-white f-12 apply-job bt"
                                                    >Apply
                                                    </button>{% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>There are no saved jobs yet</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            {% if applied_jobs %}
                                {% for job in applied_jobs %}
                                    <tr>
                                        <td>
                                            <h6 class="mb-1">
                                                <a href="{% url 'candidate_job_detail' job.job.pk %}">
                                                    {{ job.job.title }}</a></h6>
                                            <div>{% if job.job.company %}
                                                <span style="color: #29378b;" class="mr-2">{{ job.job.company }}</span>
                                            {% endif %}
                                                <span class="fa fa-map-marker-alt"></span>
                                                {% for location in job.job.location.all %}
                                                    <span>{{ location }}, </span>
                                                {% endfor %}
                                            </div>
                                            <span class="mb-1">Application Deadline</span>
                                            <span class="text-muted mr-2"><i
                                                    class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                {{ job.job.application_deadline }}
                                            </span>
                                            <div class="mt-2 mx-auto">
                                                <h5><span class="badge badge-info">{{ job.level }}</span></h5>

                                            </div>
                                        </td>
                                    </tr>

                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>You haven't applied to any job yet</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!--[ profile view section ] start-->
        <div class="col-xs-6 col-md-6 ">
            <div class="col-md-12">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Profile Views</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                    {{ profile_views }} <sub class="text-muted f-14 ml-3">View(s)<a
                                        href="#viewers-list-modal" class="btn btn-default" data-toggle="modal"
                                        data-original-title="View"><span class="ml-2 fa fa-eye"></span></a> </sub></h3>
                            </div>
                        </div>
                        <a href="#viewers-list-modal" class="btn btn-default" data-toggle="modal"
                                        data-original-title="View"><h6 class="text-muted mt-4 mb-0">Find out who viewed your Profile </h6></a>
                        <div class="progress m-t-5" style="height: 7px;">
                            <div class="progress-bar progress-c-theme" role="progressbar"
                                 style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Latest Jobs</h6>
                        <div class="row">
                            {% for post in latest_jobs %}
                                <div class="col-md-12 ftco-animate mb-2"
                                     style="box-shadow:0 0 25px 0  #dfeaf5;  border-radius: 40px;">
                                    <div class="job-post-item bg-white p-2 d-block d-md-flex align-items-center">
                                        <div class="mb-4 mb-md-0 mr-5">
                                            <div class="job-post-item-header d-flex align-items-center">
                                                <p class="mr-3 text-black" style="width: 240px">{{ post.title }}</p>
                                                <div class="badge-wrap mr-md-5">
                                                    {% for type in post.type.all %}
                                                        <span class="bg-primary text-white badge py-sm-1 px-sm-1">{{ type.name }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="job-post-item-body d-block d-md-flex">
                                                <div class="mr-3"><span class="fa fa-ind"></span>
                                                    <a href="#">{{ post.company }}</a></div>
                                                <div><span class="fa fa-map-marker-alt"></span>
                                                    {% for location in post.location.all %}
                                                        <span>{{ location }}, </span>
                                                    {% endfor %}
                                                </div>
                                                <div class="d-flex ml-3">
                                                    <a href="{% url 'candidate_job_detail' post.pk %}"
                                                       class="fa fa-eye py-sm-1 mr-1" data-toggle="tooltip"
                                                       title="view">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><!-- end -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include 'candidate/profile_viewers_list.html' %}
{% endblock %}

{% block scripts %}
    <script>
        $(".save-job").click(function (event) {
            var currentRow = $(this).closest("tr");
            var job_id = currentRow.find("td:eq(0)").text();
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'save_job' %}",
                data: {'job': job_id},
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Lobibox.notify('error', {
                        msg: "some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText)
                    });
                }
            });
        });

        $(".apply-job").click(function (event) {
            var currentRow = $(this).closest("tr");
            var job_id = currentRow.find("td:eq(0)").text();
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'apply_job' %}",
                data: {'job': job_id},
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Lobibox.notify('error', {
                        msg: "some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText)
                    });
                }
            });
        });


        $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 4; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
{% endblock %}