{% extends 'child_base.html' %}
{% load static %}
{% block content %}
    <!-- Modal -->
    <div class="col-sm-12" id="educationDetailForm">
        <div class="card">
            <div class="card-header">
                <h5 class="modal-education">Update Education Details</h5>
            </div>
            <div class="col-sm-12 card-body">
                <form action="{% url 'candidate_education_update_form' edu.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="institution" class="col-form-label">Institution</label>
                            {{ form.institution }}
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="start-date" class="col-form-label">Start Date</label>
                            {{ form.start_date }}
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="end-date" class="col-form-label">End Date</label>
                            {{ form.end_date }}
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="education-level" class="col-form-label">Education Level:</label>
                            <div class="input-group mb-3">
                                {{ form.education_level }}
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="course" class="col-form-label">Course:</label>
                            <div class="input-group mb-3">
                                {{ form.course }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right shadow-2 mb-4" style="float: right">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}