<!-- Modal -->
<div class="modal fade" id="educationDetailForm" tabindex="-1" role="dialog" aria-labelledby="educationDetailLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-education" id="educationDetailLabel">New Education Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="educationDetail">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="institution" class="col-form-label">Institution</label>
                            <input type="text" class="form-control" id="institution" name="institution">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="start-date" class="col-form-label">Start Date</label>
                            <input type="date" class="form-control" id="start-date" name="start_date">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="end-date" class="col-form-label">End Date</label>
                            <input type="date" class="form-control" id="end-date" name="end_date">
                        </div>

                        <div class="col-md-12 form-group">
                            <label for="education-level" class="col-form-label">Education Level:</label>
                            <select class="form-control" id="education-level" name="education_level">
                                {% for level in education_levels %}
                                    <option value="{{ level.id }}">{{ level.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="course" class="col-form-label">Course:</label>
                            <select class="form-control" id="course" name="course">
                                 {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-education-save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
