{% extends 'child_base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="modal-education">Update Experience Details</h5>
            </div>
            <div class="col-sm-12 card-body">
                <form action="{% url 'candidate_experience_update_form' comp.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="company" class="col-form-label">Company</label>
                                {{ form.company }}
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="position" class="col-form-label">Job Title</label>
                            {{ form.position }}
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="position-level" class="col-form-label">Position Level:</label>
                            <div class="input-group mb-3">
                                {{ form.position_level }}
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="start-date" class="col-form-label">Start Date</label>
                            {{ form.start_date }}
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="end-date" class="col-form-label">End Date</label>
                            {{ form.end_date }}
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="department" class="col-form-label">Currently working here:</label>
                            <div class="input-group mb-3">
                                {{ form.is_current_job }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right shadow-2 mb-4" style="float: right">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}