<!-- Modal -->
<div class="modal fade" id="experienceDetailForm" tabindex="-1" role="dialog" aria-labelledby="experienceDetailLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-experience" id="experienceDetailLabel">New experience info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="experienceDetail">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="company" class="col-form-label">Company</label>
                            <input type="text" class="form-control" id="company" name="company">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="position" class="col-form-label">Job Title</label>
                            <input type="text" class="form-control" id="position" name="position">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="position-level" class="col-form-label">Position Level:</label>
                            <select class="form-control" id="position-level" name="position_level">
                                {% for level in position_levels %}
                                    <option value="{{ level.id }}">{{ level.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="department" class="col-form-label">Department:</label>
                            <select class="form-control" id="department" name="department">
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="start-date" class="col-form-label">Start Date</label>
                            <input type="date" class="form-control" id="start-date" name="start_date">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="end-date" class="col-form-label">End Date</label>
                            <input type="date" class="form-control" id="end-date" name="end_date">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-experience-save" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
