{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">Dashboard</li>
    <li class="breadcrumb-item active" aria-current="page">Apply Job</li>
{% endblock %}
{% block content %}
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <input type="hidden" id="job_id" value="{{ job.id }}"/>
                    <h5>{{ job.title }}</h5>
                    {% if job.min_salary %}
                        <p>Salary Range : {{ job.min_salary }} - {{ job.max_salary }}</p>
                    {% endif %}
                    <p>{% for location in job.location.all %}{{ location }},{% endfor %} |
                        {% for type in job.type.all %}{{ type.name }}{% endfor %}</p>
                </div>
                <div class="card-block">
                    <p>{{ job.description|safe }}</p>
                    {% if job.job_requirements.all %}
                        <h6>Requirements</h6>
                        <ul>
                            {% for requirement in job.job_requirements.all %}
                                <li>{{ requirement.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if job.job_responsibilities.all %}
                        <h6>Responsibility</h6>
                        <ul>
                            {% for responsibility in job.job_responsibilities.all %}
                                <li>{{ responsibility.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if job.skills.all %}
                        <h6>Skills</h6>
                        <ul>
                            <li>
                                {% for skill in job.skills.all %}
                                    {{ skill.name }},
                                {% endfor %}
                            </li>
                        </ul>
                    {% endif %}
                    {% if job.job_benefits.all %}
                        <h6>Benefits</h6>
                        <ul>
                            {% for benefit in job.job_benefits.all %}
                                <li>{{ benefit.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
          {% if job.force_application_via_email %}
            <div class="col-md-12 card">
                <div class="card-header">
                    <div class="title">Cover letter</div>
                </div>
               <div class="card-body">
                <div>
                    <textarea class="col-md-12" id="cover_letter" placeholder="Max. 2000 characters" maxlength="2000"
                              data-parsley-errors-container=".description__validation-message"
                              data-parsley-required-message="Please include a Cover Letter" name="description"
                              rows="10"></textarea>
                </div>
               </div>
            </div>
        {% endif %}
        </div>
        <div class="col-md-4 col-xl-4">
            <div class="col-md-12">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Candidates who have applied this job</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                    {{ views_count }} <sub class="text-muted f-14 ml-1">candidates</sub></h3>
                            </div>

                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div class="progress-bar progress-c-theme" role="progressbar"
                                 style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card daily-sales">
                    <div class="card-block">
                        <h6 class="mb-4">Application Instructions</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                                {% if job.force_apply_on_company_website %}
                                    <a href="" class="btn btn-sm btn-primary">Apply Now</a>
                                {% elif job.application_instructions %}
                                    <p>{{ job.application_instructions }}</p>
                                {% elif job.force_apply_in_system %}
                                    <button class="btn btn-primary btn-sm" id="apply-job">Submit Application
                                    </button>
                                {% elif job.force_application_via_email %}
                                    <button class="btn btn-primary btn-sm" id="apply-job">Submit Application
                                    </button>
                                {% else %}
                                   <p class="mb-4">No Instructions provided yet!</p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock %}

{% block scripts %}
    <script>
        $("#apply-job").click(function (event) {
            var job_id = $("#job_id").val();
            var cover_letter = $("#cover_letter").val();
            console.log(job_id);
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'apply_job' %}",
                data: {job: job_id, cover_letter:cover_letter},
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Lobibox.notify('error', {
                        msg: "some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText)
                    });
                }
            });
        });



    </script>
{% endblock %}