{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Find Jobs</li>
{% endblock %}
{% block content %}
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
        <div class="card Recent-Users">
            <div class="card-header">
                {% include 'candidate/search_form.html' %}
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-hover dataTables_info">
                        <tbody>
                        {% if jobs %}
                            {% for job in jobs %}

                                <tr>
                                    <td>
                                        <h6 class="mb-1"><a
                                                href="{% url 'candidate_job_detail' job.pk %}">{{ job.title }}</a></h6>
                                        {% if job.company %}
                                            <p class="m-0"><span style="color: #29378b;">{{ job.company }}</span></p>
                                        {% endif %}
                                        <p>Location :
                                            {% for location in job.location.all %}
                                                {{ location }},
                                            {% endfor %}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="mb-1">Application Deadline</p>
                                        <h6 class="text-muted"><i
                                                class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                            {{ job.application_deadline }}
                                        </h6>
                                    </td>

                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>There no jobs posted yet</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
{% endblock %}

{% block scripts %}

{% endblock %}