{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">My Jobs</li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card daily-sales">
                <div class="card-block">
                     <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                    {% if applied_jobs %}
                        {% for job in applied_jobs %}
                            <tr>
                                <td>
                                    <h6 class="mb-1">{{ job.job.title }}</h6>
                                    <p class="m-0"><span style="color: #29378b;">{{ job.job.company }}</span>
                                    </p>
                                    <p>Location :
                                        {% for location in job.job.location.all %}
                                            {{ location }},
                                        {% endfor %}
                                    </p>
                                </td>
                                <td>
                                    <p class="mb-1">Application Deadline</p>
                                    <h6 class="text-muted"><i
                                            class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                        {{ job.job.application_deadline }}
                                    </h6>
                                </td>
                                <td>
                                    <h5><span class="badge badge-info">{{ job.level }}</span></h5>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>You haven't applied to any job yet</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}