{% extends 'child_base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-body text-center">
            <div class="mb-4">
                <i class="feather icon-user-plus auth-icon"></i>
            </div>
            <h3 class="mb-4">Profile Update</h3>
            <form class="profile_update"  method="post"
                  action="{% url 'candidate_profile_update_form' profile.id %}"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="job-title" class="col-form-label">First name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="job-title" class="col-form-label">Last name</label>
                        {{ form.last_name }}
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="job-title" class="col-form-label">Birth date:</label>
                        {{ form.date_of_birth }}
                    </div>

                    <div class="col-sm-push-0 form-group">
                        <label for="job-title" class="col-form-label">Gender:</label>
                        <div class="input-group mb-3">
                            {{ form.gender }}
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="job-title" class="col-form-label">Location :</label>
                        <div class="input-group mb-3">
                            {{ form.location }}
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right form-group">
                        <label for="job-title" class="col-form-label">Profile picture :</label>
                        <div class="input-group mb-3">
                            {{ form.avatar }}
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="job-title" class="col-form-label">Username:</label>
                        {{ form.username }}
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="job-title" class="col-form-label">Email:</label>
                        {{ form.email }}
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="job-title" class="col-form-label">Phone number:</label>
                        {{ form.phone_number }}
                    </div>
                </div>
                <button class="btn btn-primary shadow-2 mb-4" type="submit">Update</button>
            </form>
        </div>
    </div>

{% endblock %}