{% load static %}
<style>
    .modal-dialog {
        width: 150%;
    }
</style>
<!-- Modal -->
<div class="modal fade col-sm-12" id="viewers-list-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Viewers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            {% if viewer %}
                                {% for v in viewer %}
                                    <tr>
                                        <td>
                                            <h6 class="mb-1">{{ v.recruiter }}</h6>
                                            <p class="m-0">Company: <span style="color: #29378b;">{{ v.company}}</span>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="mb-1">View Date</p>
                                            <h6 class="text-muted"><i
                                                    class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                {{ v.view_date }}
                                            </h6>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>You haven't applied to any job yet</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>


                </div>

            </div>
        </div>
    </div>
</div>

