{% extends 'child_base.html' %}
{% load static %}
{% block head_title %}Profile{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">My Profile</li>
{% endblock %}
{% block content %}
    <div class="col-xl-12 col-sm-12">
        <div class="row">
            <div class="col-sm-5">
                <div class="card Recent-Users">
                    <div class="card-header">
                        <div class="row">
                            <div><h5>Account Info</h5></div>
                            <div class="pull-right">
                                <a href="{% url 'candidate_profile_update_form' user.id %}"><span class="fa fa-edit" data-toggle="tooltip" title="Edit profile details"></span></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tr>
                                    <td colspan="1" rowspan="2"><img src="{% static '../media/' %}{{ user.avatar }}"
                                                                     width="150"
                                                                     height="150"></td>
                                </tr>
                                <tr>
                                    <td><h3>{{ user.get_full_name }}</h3></td>
                                </tr>
                                <tr>
                                    <th scope="row">Date of Birth</th>
                                    <td>{{ user.date_of_birth }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Gender</th>
                                    <td>{{ user.gender }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">E-mail</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone Number</th>
                                    <td>{{ user.phone_number }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Location</th>
                                    <td>{{ user.location }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">CV</th>
                                    {% for c in cv %}
                                        {% if c %}
                                            <td><a href="{% static '../media/' %}{{ c.file }}" target="_blank">Open
                                                CV</a>
                                            <a href="{% url 'delete_cv' c.id %}" class="ml-2 text-danger"><span
                                                    class="fa fa-trash" data-toggle="tooltip" title="delete Cv"></span></a>
                                            </td>
                                        {% else %}
                                            <td style="color: red">No CV uploaded</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>
                    <form method="POST" id="cv" action="{% url 'save_cv_detail' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="cv" required/>
                            <input type="submit" value="Upload CV"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne" title="click to fold/unfold">Education
                                Background</a></h5>
                            <button style="padding: 2px 15px; float: right;" type="button"
                                    class="btn btn-xs btn-outline-primary pull-right" data-toggle="modal"
                                    data-target="#educationDetailForm">Add
                            </button>
                        </div>
                        <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">

                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">INSTITUTION</th>
                                    <th scope="col">COURSE</th>
                                    <th scope="col">LEVEL</th>
                                    <th scope="col">PERIOD</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for education in user.candidate_user.candidate_education.all %}
                                    <tr>
                                        <td>{{ education.institution }}</td>
                                        <td>{{ education.course }}</td>
                                        <td>{{ education.education_level }}</td>
                                        <td>{{ education.start_date }} - {{ education.end_date }}</td>
                                        <td>
                                            <a href="{% url 'delete_education_detail' education.id %}" class="text-danger" ><span
                                                class="fa fa-trash" data-toggle="tooltip" title="delete details"></span></a>
                                            <a href="{% url 'candidate_education_update_form' education.id %}"  class="ml-1"><span
                                                class="fa fa-edit" data-toggle="tooltip" title="edit details"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo" title="click to fold/unfold">Work Experience</a></h5>
                            <button style="padding: 2px 15px; float: right;" type="button"
                                    class="btn btn-xs btn-outline-primary" data-toggle="modal"
                                    data-target="#experienceDetailForm">Add
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse card-body" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            {% if user.candidate_user.candidate_experience.all %}
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">COMPANY</th>
                                        <th scope="col">POSITION</th>
                                        <th scope="col">LEVEL</th>
                                        <th scope="col">PERIOD</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for experience in user.candidate_user.candidate_experience.all %}
                                        <tr>
                                            <td>{{ experience.company }}</td>
                                            <td>{{ experience.position }}</td>
                                            <td>{{ experience.position_level }}</td>
                                            {% if experience.is_current_job %}
                                                <td>{{ experience.start_date }} - Present</td>
                                            {% else %}
                                                <td>{{ experience.start_date }} - {{ experience.end_date }}</td>
                                            {% endif %}
                                            <td><a href="{% url 'delete_experience_detail' experience.id %}" class="text-danger"><span
                                                    class="fa fa-trash" data-toggle="tooltip" title="Delete this detail"></span></a>
                                                <a href="{% url 'candidate_experience_update_form' experience.id %}" class="text-info"><span
                                                    class="fa fa-edit" data-toggle="tooltip" title="Edit this detail"></span></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No experience details added</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse"
                                                        data-target="#collapseThree" aria-expanded="false"
                                                        aria-controls="collapseThree" title="click to fold/unfold">Certifications</a></h5>
                                    <button style="padding: 2px 15px; float: right;" type="button"
                                            class="btn btn-xs btn-outline-primary" data-toggle="modal"
                                            data-target="#certificationDetailForm">Add
                                    </button>
                                </div>
                                <div id="collapseThree" class="card-body collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    {% if user.candidate_user.candidate_certification.all %}
                                        {% for certification in user.candidate_user.candidate_certification.all %}
                                            <span class="badge badge-info">{{ certification.name }}</span>
                                            <a href="{% url 'delete_certification_detail' certification.id %}"><span
                                                    class="fa fa-trash"></span></a>

                                        {% endfor %}
                                    {% else %}
                                        <p>No Certification details added</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse"
                                                        data-target="#collapseFour" aria-expanded="false"
                                                        aria-controls="collapseFour" title="click to fold/unfold">Skills</a></h5>
                                    <button style="padding: 2px 15px; float: right;" type="button"
                                            class="btn btn-xs btn-outline-primary" data-toggle="modal"
                                            data-target="#skillDetailForm">Add
                                    </button>

                                </div>
                                <div id="collapseFour" class="card-body collapse" aria-labelledby="headingFour"
                                     data-parent="#accordionExample">
                                    {% if user.candidate_user.candidate_skill.all %}
                                        {% for skill in user.candidate_user.candidate_skill.all %}
                                            <span class="badge badge-info">{{ skill.name }}</span>
                                            <a href="{% url 'delete_skill_detail' skill.id %}"><span
                                                    class="fa fa-trash"></span></a>
                                        {% endfor %}
                                    {% else %}
                                        <p>No skill details added</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'candidate/education_detail_form.html' %}
    {% include 'candidate/experience_detail_form.html' %}
    {% include 'candidate/certification_detail_form.html' %}
    {% include 'candidate/skill_detail_form.html' %}
{% endblock %}
{% block scripts %}
    <script>
        $("#btn-education-save").click(function (event) {
            event.preventDefault();
            form_data = $('#educationDetail').serialize();
            console.log(form_data);
            $.ajax({
                type: "POST",
                url: "{% url 'save_education_detail' %}",
                data: form_data,
                success: function (response) {
                    Lobibox.notify(response.type, {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: response.message
                    });
                }
            })
        });

        {#function edu_del(edu_id){#}
        {#       $.ajax({#}
        {#        type: "POST",#}
        {#        url: "{% url 'delete_education_detail' +edu_id%}",#}
        {#        success: function (response) {#}
        {#            Lobibox.notify(response.type, {#}
        {#                size: 'mini',#}
        {#                rounded: true,#}
        {#                delayIndicator: false,#}
        {#                msg: response.message#}
        {#            });#}
        {#        }#}
        {#    })#}
        {#}#}


            $("#btn-experience-save").click(function (event) {
                event.preventDefault();
                form_data = $('#experienceDetail').serialize();
                console.log(form_data);
                $.ajax({
                    type: "POST",
                    url: "{% url 'save_experience_detail' %}",
                    data: form_data,
                    success: function (response) {
                        Lobibox.notify(response.type, {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: response.message
                        });
                    }
                })
            });

            $("#btn-certification-save").click(function (event) {
                event.preventDefault();
                form_data = $('#certificationDetail').serialize();
                console.log(form_data);
                $.ajax({
                    type: "POST",
                    url: "{% url 'save_certification_detail' %}",
                    data: form_data,
                    success: function (response) {
                        Lobibox.notify('success', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: response.message
                        });
                    }
                })
            });
            $("#btn-skill-save").click(function (event) {
                event.preventDefault();
                form_data = $('#skillDetail').serialize();
                console.log(form_data);
                $.ajax({
                    type: "POST",
                    url: "{% url 'save_skill_detail' %}",
                    data: form_data,
                    success: function (response) {
                        Lobibox.notify(response.type, {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: response.message
                        });
                    }
                })
            });
    </script>
{% endblock %}