{% extends 'child_base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="modal-education">Update Skills Details</h5>
            </div>
            <div class="col-sm-12 card-body">
                <form action="{% url 'candidate_experience_update_form' comp.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="position-level" class="col-form-label">skills:(Hold Ctrl button to select
                                Multiple)</label>
                            <select class="form-control" id="position-level" name="name[]" multiple>
                                {% for skill in skills %}
                                    <option value="{{ skill.id }}">{{ skill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button id="btn-skill-save" type="button" class="btn btn-primary">Save</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
