{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruitment Portal</title>
</head>
<body style="background-image: url('{% static "images/loading.gif" %}');
        background-size: 600px 600px;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        ">
{% if request.user.is_candidate %}
    <meta http-equiv="REFRESH" content="0;url={% url 'candidate_dashboard' %}">
{% else %}
    <meta http-equiv="REFRESH" content="0;url={% url 'company_test' %}">
{% endif %}
</body>
</html>